.nav {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #263238;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
}

.nav a:hover {
    cursor: pointer;
    border-bottom: 3px solid #263238;
}

.nav__button {
    font-size: 24px;
    font-weight: 400;
    padding: 17px 57px;
    border: 2px solid #263238;
    border-radius: 5px;
    background-color: #fff;
}

.nav__button:hover {
    cursor: pointer;
    background: rgb(223,190,205);
    background: radial-gradient(circle, rgba(223,190,205,1) 0%, rgba(63,96,135,1) 100%);
    border: 0;
    transition-delay: 0.2s;
}