.skills {
    margin-top: 100px;
    margin-bottom: 200px;

    h2 {
        text-align: center;
    }
}

.skills-cards {
    display: grid;
    grid-template-areas: "card_long-vertical card_standard_left card_standard_right"
                        "card_long-vertical card_long-horizontal card_long-horizontal";
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #F5F5F5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card_long-vertical {
    grid-area: card_long-vertical;
    width: 435px;
    height: 100%;

    img {
        margin-top: 35px;
    }
}

.card_standard_left {
    grid-area: card_standard_left;
    width: 434px;
    height: 532px;

    img {
        width: 293px;
        height: 293px;
        align-self: flex-end;
        height: 50%;
    }
}

.card_standard_right {
    grid-area: card_standard_right;
    width: 434px;
    height: 532px;

    img {
        height: 305px;
        margin-bottom: 12px;
    }
}

.card_long-horizontal {
    grid-area: card_long-horizontal;
    width: 887px;
    height: 343px;
    flex-direction: row;

    img {
        margin-right: 28px;
    }
}

.card__button {
    font-weight: 500;
    border-radius: 5px;
    padding: 17px 64px;
    margin-top: 30px;
}

.card__heading {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0;
}

.card__description {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
}

.card__text {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height: 50%;
}