.welcome-screen {
    margin-top: 60px;
}

.welcome-screen__heading {
    display: flex;
    align-items: center;
    width: 90%;

    h1 {
        font-size: 64px;
        margin-bottom: 30px;
    }
}

.welcome-screen__description {
    font-size: 24px;
    line-height: 36px;
    width: 90%;
}

.welcome-screen__button {
    font-size: 36px;
    padding: 32px 118px;
    border-radius: 15px;
    margin-top: 30px;
}