@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

.website-container {
  margin-left: 8%;
  margin-right: 8%;
}

.text-img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-title {
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: #000;
}

.block-subtitle {
  font-size: 30px;
  font-weight: 600;
}

.block-paragraph {
  color: #8F95A5;
  line-height: 30px;
  font-weight: 400;
}

.primary-btn {
  color: #fff;
  background-color: #263238;
}

.nav {
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  color: #263238;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 20px;
}

.nav__button {
  font-size: 24px;
  font-weight: 400;
  padding: 17px 57px;
  border: 2px solid #263238;
  border-radius: 5px;
  background-color: #fff;
}

.welcome-screen {
  margin-top: 60px;
}

.welcome-screen__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.welcome-screen__heading h1 {
  font-size: 64px;
  margin-bottom: 30px;
}

.welcome-screen__description {
  font-size: 24px;
  line-height: 36px;
  width: 90%;
}

.welcome-screen__button {
  font-size: 36px;
  padding: 32px 118px;
  border-radius: 15px;
  margin-top: 30px;
}

.skills {
  margin-top: 100px;
  margin-bottom: 80px;
}

.skills h2 {
  text-align: center;
}

.skills-cards {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "card_long-vertical card_standard_left card_standard_right" "card_long-vertical card_long-horizontal card_long-horizontal";
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: #F5F5F5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_long-vertical {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: card_long-vertical;
  width: 435px;
  height: 100%;
}

.card_long-vertical img {
  margin-top: 35px;
}

.card_standard_left {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card_standard_left;
  width: 434px;
  height: 532px;
}

.card_standard_left img {
  width: 293px;
  height: 293px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 50%;
}

.card_standard_right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: card_standard_right;
  width: 434px;
  height: 532px;
}

.card_standard_right img {
  height: 305px;
  margin-bottom: 12px;
}

.card_long-horizontal {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: card_long-horizontal;
  width: 887px;
  height: 343px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card_long-horizontal img {
  margin-right: 28px;
}

.card__button {
  font-weight: 500;
  border-radius: 5px;
  padding: 17px 64px;
  margin-top: 30px;
}

.card__heading {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
}

.card__description {
  font-size: 16px;
  line-height: 24px;
  width: 90%;
}

.card__text {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  height: 50%;
}

.about {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 200px;
}

.about__text {
  width: 50%;
}

.about__heading {
  margin-bottom: 26px;
}

.about__description {
  color: #8F95A5;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.about__clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__item__number {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #2A3246;
}

.clients__item__category {
  color: #8F95A5;
  margin-top: 0;
}

.about__img {
  margin-top: 25px;
}

.pricing {
  margin-bottom: 180px;
}

.pricing__heading {
  text-align: center;
  margin-bottom: 19px;
}

.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.pricing-item__heading {
  margin-bottom: 0;
}

.pricing-item__description {
  margin-top: 19px;
  min-height: 100px;
}

.pricing-item__img {
  height: 250px;
}

.pricing-item__button {
  margin-top: 30px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  background-color: #eee;
  padding: 7px 20px;
  border: none;
}

.pricing-item__button_font-small {
  font-size: 18px;
  line-height: 27px;
  padding-left: 5px;
  color: #546269;
}

.contact {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 80px;
}

.contact__text {
  width: 50%;
}

.contact__title {
  margin-bottom: 35px;
}

.contact__description {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 20px;
}

.form__input {
  border: 1px solid #8F95A5;
  border-radius: 10px;
  padding: 26px 33px;
  margin-right: 12px;
}

.form__btn {
  padding: 25px 81px;
  font-size: 20px;
  border-radius: 10px;
}

.footer {
  height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #C4C4C4;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__link {
  text-decoration: none;
  color: #8F95A5;
  font-size: 24px;
  line-height: 36px;
  padding-left: 30px;
}
/*# sourceMappingURL=styles.css.map */