@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.website-container {
    margin-left: 8%;
    margin-right: 8%;
}

.text-img-block {
    display: flex;
}

.block-title {
    font-size: 48px;
    line-height: 80px;
    font-weight: 600;
    color: #000;
}

.block-subtitle {
    font-size: 30px;
    font-weight: 600;
}

.block-paragraph {
    color: #8F95A5;
    line-height: 30px;
    font-weight: 400;
}

.primary-btn {
    color: #fff;
    background-color: #263238;
}

.primary-btn:hover {
    cursor: pointer;
    background-color: #eee;
    color: #000;
    border: 2px solid #263238;
}

@import "header";
@import "welcome-screen";
@import "skills";
@import "about";
@import "pricing";
@import "contact";
@import "footer";

@media all and (max-width: 1460px) {
    .website-container {
        margin-left: 4%;
        margin-right: 4%;
    }
    
}