@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.website-container {
    margin-left: 8%;
    margin-right: 8%;
}

@import "header";
@import "welcome-screen";
@import "skills";